.container{
    background-color: aquamarine;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.screen{
    background-color: black;
    height: 80px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    font-size: 50px;
}

.btns .btn{
    background-color: green;
    border-radius: 10px;
    width: 100%;
    color: white;
    cursor: pointer;
}
