.container{
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.screen{
    background-color: black;
    color: white;
    height: 80px;
    border-radius: 18px;
    font-size: 50px;
}
.btns .btn{
        background-color: green;
        border-radius: 18px;
        width: 100%;
        cursor: pointer;
        color: white;
        font-size: 20px;
        font-weight: 700px;
    }
