.container , .main{
background-color: aquamarine;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
.main{
background-color: black;
}
.drawer{
    position: fixed;
    background-color: white;
    width: 300px;
    top: 0;
    bottom: 0;
    right: -300px;
    transition: all 600ms;
}
.openedDrawer {
    right: 0;
    transition: all 1s;
}
.btn{
    cursor: pointer;
}